<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Intro view</title>
  <script src="//cdn.tailwindcss.com"></script>
</head>
<body>
  <section id="app" class="m-8">
    <h1 class="text-3xl font-bold text-blue-800">Hello World</h1>
    <p class="text-2xl font-mono">{{message}}</p>
    <my-comp></my-comp>
    <div class="grid grid-cols-2 gap-2 mb-4">
      <div>
        <img v-bind:src="imageSrc" v-bind:alt="imageTitle">
      </div>
      <div>
        <p class="text-xs" v-html="imageTitle"></p>
      </div>
    </div>
    <hr class="mb-2">

    <input type="text" name="message" placeholder="Digita a mensagem" v-model="message" >
    <button
      class="bg-gradient-to-b from-cyan-500 to-blue-500 p-2 rounded-lg text-white block"
      @click="changeMessage"
      >Mudar Mensagem</button>
    <!-- <button
      class="bg-indigo-500 p-2 rounded-lg text-white"
      v-on:click="changeMessage"
      >Mudar Mensagem</button> -->
    
    <hr class="mb-2 mt-2">

    <input type="checkbox" v-model="show"> Mostrar/Esconder
    <p v-if="show">Texto oculto</p>
    <p v-show="show">Texto oculto</p>
    <hr class="mb-2 mt-2">

    <ul>
      <li v-for="(framework, index) in frameworks" :key="index">{{framework}}</li>
    </ul>
  </section>

  <script type="module">
    import {createApp} from '//unpkg.com/vue@3/dist/vue.esm-browser.js'
    
    import myComp from './js/my.component.js'

    createApp({
      data(){
        return {
          message: `Olá da Vue via CDN`,
          imageSrc: '//picsum.photos/600/300',
          imageTitle: 'Imagem de 600 por 300',
          show: false,
          frameworks: [
            'Vue', 'React', 'Angular', 'Svelte'
          ]
        }
      },
      components: {
        'my-comp': myComp
      },
      methods: {
        changeMessage() {
          this.message = 'Mensagem alterada por click'
        }
      }
    }).mount('#app')
  </script>
</body>
</html>